<h5 class="text-center mt-4">Rating Summary:</h5>

<div class="d-flex justify-content-center align-items-center mb-2">
  <% average = @entity.average_rating || 0 %>
  <% full_stars = average.floor %>
  <% half_star = (average - full_stars >= 0.25 && average - full_stars < 0.75) %>
  <% extra_full_star = (average - full_stars >= 0.75) %>
  <% total_full_stars = full_stars + (extra_full_star ? 1 : 0) %>

  <% total_full_stars.times do %>
    <i class="fa fa-star text-warning"></i>
  <% end %>

  <% if half_star %>
    <i class="fa fa-star-half-alt text-warning"></i>
  <% end %>

  <% (5 - total_full_stars - (half_star ? 1 : 0)).times do %>
    <i class="fa fa-star text-secondary"></i>
  <% end %>

  <div class="ms-2 fw-bold"><%= average.round(1) %></div>
</div>

<div class="text-center">
  <small>Total Votes: <%= @entity.ratings.count %></small>
</div>

<% rating_distribution = @entity.rating_distribution %>
<ul class="list-unstyled text-center mt-2">
  <% (1..5).each do |star| %>
    <li><%= star %> Star: <%= rating_distribution[star] || 0 %> votes</li>
  <% end %>
</ul>
