<h3><%= @user.full_name %>'s Followers</h3>
<% @followers.each do |follower| %>
  <div class="mb-2">
    <%= link_to follower.full_name, user_path(follower), class: "text-decoration-none fw-bold" %>
  </div>
<% end %>
