<h3><%= @user.full_name %> is Following</h3>
<% @following.each do |followed| %>
  <div class="mb-2">
    <%= link_to followed.full_name, user_path(followed), class: "text-decoration-none fw-bold" %>
  </div>
<% end %>
